<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GSMApplication</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserInformation</display-name>
    <servlet-name>UserInformation</servlet-name>
    <servlet-class>userdetails.UserInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInformation</servlet-name>
    <url-pattern>/UserInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManage</display-name>
    <servlet-name>AdminManage</servlet-name>
    <servlet-class>adminManagement.AdminManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManage</servlet-name>
    <url-pattern>/AdminManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManageFetchData</display-name>
    <servlet-name>AdminManageFetchData</servlet-name>
    <servlet-class>adminManagement.AdminManageFetchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageFetchData</servlet-name>
    <url-pattern>/AdminManageFetchData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RD_AdminManage</display-name>
    <servlet-name>RD_AdminManage</servlet-name>
    <servlet-class>adminManagement.RD_AdminManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RD_AdminManage</servlet-name>
    <url-pattern>/RD_AdminManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RD_AdminManageFetchData</display-name>
    <servlet-name>RD_AdminManageFetchData</servlet-name>
    <servlet-class>adminManagement.RD_AdminManageFetchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RD_AdminManageFetchData</servlet-name>
    <url-pattern>/RD_AdminManageFetchData</url-pattern>
  </servlet-mapping>
</web-app>